<% @automated_campaigns.each do |campaign| %>
  <% subscription = @contact.campaign_subscriptions.find_by(automated_campaign_id: campaign.id) %>
  <% if subscription.blank? || subscription.running? %>
    <div class="media align-items-center">
      <div class="media-body">
        <p><strong><%= campaign.name %></strong></p>
      </div>
      <div>
        <% if subscription.blank? %>
          <a class="btn btn-sm btn-twitter btn-outline" href="<%= admin_campaign_subscribe_path(campaign_id: campaign.id, contact_id: @contact.id) %>" data-remote="true" data-method="post">Add to list</a>
        <% else %>
          <a class="btn btn-sm btn-danger" href="<%= admin_campaign_remove_path(campaign_id: campaign.id, contact_id: @contact.id) %>" data-remote="true" data-method="delete">Remove</a>
        <% end %>
      </div>
    </div>
    <% end %>
<% end %>
