<div class="main-content">
    <div class="is-wrapper" style="display: block"></div>

    <div class="bottomBar">
        <button id="btnAddSection" class="btn btn-default" style="padding: 3px 15px;font-size:0.9em">+ Add Section</button>
        <button id="btnViewHTML" class="btn btn-default" style="padding: 3px 15px;font-size:0.9em">HTML</button>
        <button id="btnSave" class="btn btn-default" style="padding: 3px 15px;font-size:0.9em">Save</button>
    </div>
</div>