<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/messages' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/ckeditor' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    //grabs the hash tag from the url
    var hash = window.location.hash;
    //checks whether or not the hash tag is set
    if (hash != "") {
      //removes all active classes from tabs
      $('#tabs a').each(function() {
        $(this).removeClass('active');
      });
      $('#message-tab-content div').each(function() {
        $(this).removeClass('active show');
      });
      //this will add the active class on the hashtagged value
      var link = "";
      $('#tabs a').each(function() {
        link = $(this).attr('href');
        if (link == hash) {
          $(this).addClass('active');
        }
      });
      $('#message-tab-content div').each(function() {
        link = $(this).attr('id');
        if ('#'+link == hash) {
          $(this).addClass('active show');
        }
      });
    }

    $("#timing_detail").hide();
    var rad = document.newTextBlast.timingOptions;
    $(rad).on('click change', function(e) {
      if (rad.value == 2) {
        $("#timing_detail").show();
        $("#btn_send_text").text('Schedule Message');
      } else {
        $("#timing_detail").hide();
        $("#btn_send_text").text('Send Message');
      }
    });

    $("#timing_detail2").hide();
    var rad2 = document.newEmailBlast.timingOptions2;
    $(rad2).on('click change', function(e) {
      if (rad2.value == 2) {
        $("#timing_detail2").show();
        $("#btn_send_email").text('Schedule Message');
      } else {
        $("#timing_detail2").hide();
        $("#btn_send_email").text('Send Message');
      }
    });

    /*
    new Chart($("#chart-line-2"), {
      type: 'line',

      // Data
      //
      data: {
        labels: ["January", "February", "March", "April"],
        datasets: [
          {
            label: "Revenue",
            fill: false,
            borderWidth: 3,
            pointRadius: 5,
            borderColor: "#9966ff",
            pointBackgroundColor: "#9966ff",
            pointBorderColor: "#9966ff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "#9966ff",
            data: [30, 25, 35, 23]
          }
        ]
      },

      // Options
      //
      options: {
        legend: {
          display: false
        },
      }
    });
    */
  });
</script>

<style>
  input[type=radio].hide-control { display: none; }

  .ck-editor__editable {
    min-height: 350px;
  }
</style>

<header class="header">
  <%= render 'next/partials/breadcrumb', link: '/admin/next/contacts', page: 'CRM' %>
  <div class="header-info">
    <div class="left">
      <h2 class="header-title"><strong>Message Blast</strong></h2>
    </div>
  </div>

  <div class="header-action">
    <nav class="nav" id="header-tabs">
      <a class="nav-link active" data-toggle="tab" href="#tab-email">Email</a>
      <a class="nav-link" data-toggle="tab" href="#tab-text">SMS</a>
    </nav>
    <div class="buttons">
      <div class="fab fab-dir-left">
        <button class="btn btn-float btn-primary" data-toggle="button">
          <i class="fab-icon-default ti-plus"></i>
          <i class="fab-icon-active ti-close"></i>
        </button>

        <ul class="fab-buttons nav">
          <li><a class="btn btn-float btn-sm btn-info" data-provide="tooltip" title="Take user to NEW EMAIL BLAST" href="#"><i class="ti-email"></i></a></li>
          <li><a class="btn btn-float btn-sm btn-info" data-provide="tooltip" title="Take user to NEW SMS BLAST" href="#"><i class="ti-comment-alt"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="tab-content" id="message-tab-content">

    <div class="tab-pane fade active show" id="tab-email">
      <div class="row">

          <div class="col-lg-3">
            <div class="card">
              <ul class="nav nav-lg nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#tab-email-recent" data-toggle="tab">Recent<span class="badge badge-pill badge-default ml-10">3</span></a>                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab-email-scheduled" data-toggle="tab">Scheduled<span class="badge badge-pill badge-default ml-10">1</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab-email-draft" data-toggle="tab">Draft<span class="badge badge-pill badge-default ml-10">1</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab-email-sent" data-toggle="tab">Sent<span class="badge badge-pill badge-default ml-10">1</span></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-9 tab-content">
            <div class="card form-type-material tab-pane fade active show" id="tab-email-recent">
              <h4 class="card-title"><strong>Recent</strong> Email Blasts</h4>

              <div class="card-body">
                <h5 class="card-title text-right text-fade"><strong>August 2018</strong></h5>
                <div class="media-list media-list-divided media-list-hover">

                  <a class="media" data-toggle="modal" href="#modal-center">
                    <div class="media-body">
                      <h5>Email Subject Line 1</h5>
                      <p><span class="text-cyan fw-400" style="padding-right:8px;"><i class="ti-time" style="padding-right:3px;"></i> Scheduled</span>Friday Aug 31, 10:00 am</p>
                      <p class="d-none d-sm-block">
                        <span><small>To:</small></span>
                        <!-- List if any Statuses -->
                        <span>&nbsp;</span>
                        <span class="badge badge-prospect">Customers </span>
                
                        <!-- List number of other contacts -->
                        <span>&nbsp;</span>
                        <span class="badge badge-secondary"> +3 contacts </span>

                      </p>
                    </div>
                  </a>

                  <a class="media" data-toggle="quickview" href="#qv-email-report">
                    <div class="media-body">
                      <h5>Email Subject Line 2</h5>
                      <p><span class="text-success fw-400" style="padding-right:8px;"><i class="fa fa-paper-plane" style="padding-right:3px;"></i> Sent</span>Monday Aug 13, 10:00 am</p>
                      <p class="d-none d-sm-block">
                        <span><small>To:</small></span>
                        <!-- List if any Statuses -->
                        <span>&nbsp;</span>
                        <span class="badge badge-prospect">Prospects </span>
                        
                        <!-- List if any Tags -->
                        <span>&nbsp;</span>
                        <span class="badge badge-yellow"> Drop-ins </span>
                        <span class="badge badge-yellow"> 7 Day Trial </span>
                        <!-- List number of other contacts -->
                        <span>&nbsp;</span>
                        <span class="badge badge-secondary"> +9 contacts </span>

                      </p>
                    </div>

                    <div class="text-center d-none d-sm-block">
                      <div data-provide="easypie" data-percent="61" data-color="#926dde" data-scale-color="transparent" data-size="100">
                        <span class="easypie-data">
                          <h4 class="text-purple mb-0">67</h4>
                          <small class="text-uppercase">opened</small>
                        </span>
                      </div>
                    </div>

                  </a>                  

                </div>
                <h5 class="card-title text-right text-fade"><strong>July 2018</strong></h5>
                
                <div class="media-list media-list-divided media-list-hover">

                  <a class="media" data-toggle="modal" href="#modal-center">
                    <div class="media-body">
                      <h5>Email Subject Line 3</h5>
                      <p><span class="text-warning fw-400" style="padding-right:8px;"><i class="ti-write" style="padding-right:3px;"></i> Draft</span> <small class="text-uppercase">Created</small> July 13, 10:00 am</p>
                    </div>
                  </a>  
                
                </div>

              </div>

              <footer class="card-footer">
                <nav class="mt-3">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-left"></span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-right"></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </footer>
            </div>

            <div class="card form-type-material tab-pane fade" id="tab-email-scheduled">
              <h4 class="card-title"><strong>Scheduled</strong> Email Blasts</h4>

              <div class="card-body">
                <h5 class="card-title text-right text-fade"><strong>August 2018</strong></h5>
                <div class="media-list media-list-divided media-list-hover">

                  <a class="media" data-toggle="modal" href="#modal-center">
                    <div class="media-body">
                      <h5>Email Subject Line 1</h5>
                      <p><span class="text-cyan fw-400" style="padding-right:8px;"><i class="ti-time" style="padding-right:3px;"></i> Scheduled</span>Friday Aug 31, 10:00 am</p>
                      <p class="d-none d-sm-block">
                        <span><small>To:</small></span>
                        <!-- List if any Statuses -->
                        <span>&nbsp;</span>
                        <span class="badge badge-prospect">Customers </span>
                
                        <!-- List number of other contacts -->
                        <span>&nbsp;</span>
                        <span class="badge badge-secondary"> +3 contacts </span>

                      </p>
                    </div>
                  </a>                

                </div>

              </div>

              <footer class="card-footer">
                <nav class="mt-3">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-left"></span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-right"></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </footer>
            </div>

            <div class="card form-type-material tab-pane fade" id="tab-email-draft">
              <h4 class="card-title"><strong>Draft</strong> Email Blasts</h4>

              <div class="card-body">                
                <h5 class="card-title text-right text-fade"><strong>July 2018</strong></h5>
                
                <div class="media-list media-list-divided media-list-hover">

                  <a class="media" data-toggle="modal" href="#modal-center">
                    <div class="media-body">
                      <h5>Email Subject Line 3</h5>
                      <p><span class="text-warning fw-400" style="padding-right:8px;"><i class="ti-write" style="padding-right:3px;"></i> Draft</span> <small class="text-uppercase">Created</small> July 13, 10:00 am</p>
                    </div>
                  </a>  
                
                </div>

              </div>

              <footer class="card-footer">
                <nav class="mt-3">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-left"></span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-right"></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </footer>
            </div>

            <div class="card form-type-material tab-pane fade" id="tab-email-sent">
              <h4 class="card-title"><strong>Sent</strong> Email Blasts</h4>

              <div class="card-body">
                <h5 class="card-title text-right text-fade"><strong>August 2018</strong></h5>
                <div class="media-list media-list-divided media-list-hover">

                  <a class="media" data-toggle="quickview" href="#qv-email-report">
                    <div class="media-body">
                      <h5>Email Subject Line 2</h5>
                      <p><span class="text-success fw-400" style="padding-right:8px;"><i class="fa fa-paper-plane" style="padding-right:3px;"></i> Sent</span>Monday Aug 13, 10:00 am</p>
                      <p class="d-none d-sm-block">
                        <span><small>To:</small></span>
                        <!-- List if any Statuses -->
                        <span>&nbsp;</span>
                        <span class="badge badge-prospect">Prospects </span>
                        
                        <!-- List if any Tags -->
                        <span>&nbsp;</span>
                        <span class="badge badge-yellow"> Drop-ins </span>
                        <span class="badge badge-yellow"> 7 Day Trial </span>
                        <!-- List number of other contacts -->
                        <span>&nbsp;</span>
                        <span class="badge badge-secondary"> +9 contacts </span>

                      </p>
                    </div>

                    <div class="text-center d-none d-sm-block">
                      <div data-provide="easypie" data-percent="61" data-color="#926dde" data-scale-color="transparent" data-size="100">
                        <span class="easypie-data">
                          <h4 class="text-purple mb-0">67</h4>
                          <small class="text-uppercase">opened</small>
                        </span>
                      </div>
                    </div>

                  </a>                 

                </div>

              </div>

              <footer class="card-footer">
                <nav class="mt-3">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-left"></span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <span class="ti-arrow-right"></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </footer>
            </div>

          </div>

        </div>
    </div>

    <div class="tab-pane fade" id="tab-text">
    </div>

    <div class="tab-pane fade" id="tab-new-email">
      <%= form_tag send_email_blast_admin_messages_path, method: :post, id: 'new-email-blast', name: 'newEmailBlast', class: 'card form-type-combine' do %>
        <input type="hidden" name="recipients" id="recipientsHidden">
        <h4 class="card-title">New <strong>email blast</strong></h4>
        <div class="card-body">
          <div class="no-border text-center">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-lg btn-info active">
                <input class="hide-control" type="radio" name="timingOptions2" id="option1" value="1" autocomplete="off" checked>Immediate</input>
              </label>
              <label class="btn btn-lg btn-info">
                <input class="hide-control" type="radio" name="timingOptions2" id="option2" value="2" autocomplete="off">Schedule</i>
              </label>
            </div>
          </div>

          <div id="timing_detail2" class="form-groups-attached">
            <div class="row">
              <div class="form-group col-6">
                <label>Date</label>
                <input class="form-control" type="text" data-provide="datepicker">
              </div>

              <div class="form-group col-6">
                <label for="select">Time</label>
                <input class="form-control" type="text" data-provide="timepicker">
              </div>
            </div>
          </div>
          <br>
          <div class="form-groups-attached">

            <div class="input-group">
              <span class="input-group-prepend">
                <a class="btn btn-light" type="button" data-toggle="quickview" href="#qv-to-field"><i class="ti-plus"></i></a>
              </span>
              <div class="input-group-input">
                <label>To</label>
                <input class="form-control" type="text" id="recipients">
              </div>
            </div>

            <div class="form-group">
              <label>Subject</label>
              <input class="form-control" type="text" name="subject">
            </div>

            <div class="form-group">
              <label>From</label>
              <select class="form-control" data-provide="selectpicker">
                <option>flexx. &lt;info@flexx.co&gt;</option>
                <option>Joe Tebaldi &lt;joe@flexx.co&gt;</option>
                <option>Staff Member &lt;staff@flexx.co&gt;</option>
              </select>
            </div>

            <div class="form-group">
              <label>Message</label>
              <textarea name="message" class="form-control editor" rows="10"></textarea>
            </div>

          </div>
          <div class="flexbox pull-right">
            <button id="btn_send_email" class="btn btn-bold btn-round btn-w-xl btn-primary" onclick="fillRecipientsField()">Send Message</button>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="tab-new-text">
      <form name="newTextBlast" class="card form-type-combine">
        <h4 class="card-title">New <strong>text blast</strong></h4>

        <div class="card-body">
          <div class="no-border text-center">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-lg btn-info active">
                <input class="hide-control" type="radio" name="timingOptions" id="option1" value="1" autocomplete="off" checked>Immediate</i>
              </label>
              <label class="btn btn-lg btn-info">
                <input class="hide-control" type="radio" name="timingOptions" id="option2" value="2" autocomplete="off">Schedule</i>
              </label>
            </div>
          </div>

          <div id="timing_detail" class="form-groups-attached">
            <div class="row">
              <div class="form-group col-6">
                <label>Date</label>
                <input class="form-control" type="text" data-provide="datepicker">
              </div>

              <div class="form-group col-6">
                <label for="select">Time</label>
                <input class="form-control" type="text" data-provide="timepicker">
              </div>
            </div>
          </div>
          <br>
          <div class="form-groups-attached">

            <div class="input-group">
              <span class="input-group-prepend">
                <a class="btn btn-light" type="button" data-toggle="quickview" href="#qv-to-field"><i class="ti-plus"></i></a>
              </span>
              <div class="input-group-input">
                <label>To</label>
                <input class="form-control" type="text">
              </div>
            </div>

            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control" rows="6" maxlength="320" data-provide="maxlength" data-alwaysShow="true"></textarea>
            </div>

          </div>
          <div class="flexbox pull-right">
            <button id="btn_send_text" class="btn btn-bold btn-round btn-w-xl btn-primary">Send Message</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<!-- Quickviews and Modals -->

<div id="qv-email-report" class="quickview quickview-xxl backdrop-dark" data-fullscreen-on-mobile>
  <header class="quickview-header">
    <p class="quickview-title lead"><strong>Email</strong> Report</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <div class="row m-0 bb-1">
      <div class="col-sm-6 p-0 bg-success">
        <p class="mb-0 text-center py-10 px-15 text-white text-uppercase fs-16"><strong>Sent</strong></p>
      </div>
      <div class="col-sm-6">
        <p class="mb-0 text-center py-10 px-15">Date: <strong>Mon. Aug 20, 2018 03:32 pm</strong></p>
      </div>
    </div>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link py-10 active" data-toggle="tab" href="#tab-email-report-overview">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-10" data-toggle="tab" href="#tab-email-report-message">Message</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-10" data-toggle="tab" href="#tab-email-report-recipients">Recipients</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active show" id="tab-email-report-overview">
        <div class="row m-0">
          <div class="col-12">
            <h5 class="card-title">
              <span class="pr-10 fw-400">Sent to:</span>
              <!-- List if any Statuses -->
              <span class="badge badge-prospect">Prospects </span>
              
              <!-- List if any Tags -->
              <span>&nbsp;</span>
              <span class="badge badge-yellow"> Drop-ins </span>
              <span class="badge badge-yellow"> 7 Day Trial </span>
              <!-- List number of other contacts -->
              <span>&nbsp;</span>
              <span class="badge badge-secondary"> +9 contacts </span>
            </h5>
          </div>

          <div class="col-6 p-15 d-block d-sm-none">
            <div class="text-center">
              <div data-provide="easypie" data-percent="32" data-color="#926dde" data-scale-color="transparent" data-size="125">
                <span class="easypie-data">
                  <h4 class="text-purple mb-0">32%</h4>
                  <small class="text-uppercase">opened</small>
                </span>
              </div>
            </div>
          </div>

          <div class="col-6 p-15 d-block d-sm-none">
            <div class="card card-body text-center">
              <div>Sent To</div>
              <div class="fs-40 fw-100">189</div>
            </div>
          </div>

          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-success">137</div>
              <div>Opened</div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-info">53</div>
              <div>Clicked</div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-warning">13</div>
              <div>Bounced</div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-danger">2</div>
              <div>Unsubscribed</div>
            </div>
          </div>

          <div class="col-12-p-0">
            <div class="card">
              <h4 class="card-title"><strong>Performance</strong> in 24-hours</h4>

              <div class="card-body">
                <p class="text-danger fs-20">Would like a line chart here with hour by hour breakdown of openings from time of sending to 24 hours later</p>
                <!-- <canvas id="chart-line-2" width="400" height="250"></canvas> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-email-report-message">
        <div class="card">
          <div class="card-body">
            <h3 class="text-danger">Display the actual message sent (plain text or HTML)</h3>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-email-report-recipients">
        <div class="card">
          <header class="media-list-header b-0">
            <form class="lookup lookup-lg w-100 bb-1 border-light">
              <input class="w-100 no-radius no-border py-30" type="text" placeholder="Type name..." data-provide="media-search">
            </form>
          </header>

          <div class="media-list media-list-divided media-list-hover">
            <div class="media media-single">
              <div class="media-body">
                <span class="avatar avatar-sm">ma</span>
                <span>Joe Tebs</span>
              </div>
              <div class="media-right">
                <span class="btn btn-sm btn-bold btn-round btn-success w-100px">Opened</span>
              </div>
            </div>

            <div class="media media-single">
              <div class="media-body">
                <span class="avatar avatar-sm">ma</span>
                <span>Paulo Castro</span>
              </div>
              <div class="media-right">
                <span class="btn btn-sm btn-bold btn-round btn-success w-100px">Opened</span>
              </div>
            </div>

            <div class="media media-single">
              <div class="media-body">
                <span class="avatar avatar-sm">ma</span>
                <span>John Doe</span>
              </div>
              <div class="media-right">
                <span class="btn btn-sm btn-bold btn-round btn-outline btn-secondary w-100px text-fade">Delivered</span>
              </div>
            </div>

            <div class="media media-single">
              <div class="media-body">
                <span class="avatar avatar-sm">ma</span>
                <span>Maryam Amiri</span>
              </div>
              <div class="media-right">
                <span class="btn btn-sm btn-bold btn-round btn-outline btn-secondary w-100px text-fade">Delivered</span>
              </div>
            </div>

            <div class="media media-single">
              <div class="media-body">
                <span class="avatar avatar-sm">ma</span>
                <span>Jane Austin</span>
              </div>
              <div class="media-right">
                <span class="btn btn-sm btn-bold btn-round btn-outline btn-secondary w-100px text-fade">Delivered</span>
              </div>
            </div>

            <div class="media media-single">
              <div class="media-body">
                <span class="avatar avatar-sm">ma</span>
                <span>Maryam Amiri</span>
              </div>
              <div class="media-right">
                <span class="btn btn-sm btn-bold btn-round btn-danger w-100px">Bounced</span>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
    
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button class="btn btn-info">Replicate</button>
  </footer>
</div>

<!-- Temp Modal -->
<div class="modal modal-center fade" id="modal-center" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">TEMPORARY MODAL</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Take user to scheduled or draft email.</p>
        <br><br><br><br><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>