---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"info@flexx.comm"},"subject":"CRM notification","personalizations":[{"to":[{"email":"test1@mail.com"}]}],"content":[{"type":"text/plain","value":"Message
        1"}]}'
    headers:
      Authorization:
      - Bearer sample_key
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Message-Id:
      - IrmLiuJJQRihMC4hqER2Fw
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Sep 2018 16:26:38 GMT
recorded_with: VCR 4.0.0
