---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts//Messages.json
    body:
      encoding: UTF-8
      string: Body=Test+sms+message.&From=%2B12345678901&To=%2B0987654321
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyYzc3YjYxZTRiYzQ5NjhlMzcxYmRlYTQzOGU4ZjJiMzo2ZTVhN2VjNGY2MjQwNGM2OGY0ZDZhYTNjOTFmZWU3NQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.096'
      Twilio-Request-Id:
      - RQ077fd52ea98e4db2af1f53afcfffca1b
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM9659b53acf024f618463a57dee65dcef", "date_created": "Thu,
        27 Sep 2018 11:23:43 +0000", "date_updated": "Thu, 27 Sep 2018 11:23:43 +0000",
        "date_sent": null, "account_sid": "sample_sid", "to":
        "+09876543210", "from": "+12345678901", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Test sms message.", "status": "queued",
        "num_segments": "1", "num_media": "0", "direction": "outbound-api", "api_version":
        "2010-04-01", "price": null, "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/sample_sid/Messages/SM9659b53acf024f618463a57dee65dcef.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/sample_sid/Messages/SM9659b53acf024f618463a57dee65dcef/Media.json"}}'
  recorded_at: Thu, 27 Sep 2018 11:23:43 GMT
recorded_with: VCR 4.0.0
