<div class="row">
  <div class="col-sm-6">
    <p>Form: <strong><%= @contact.source %></strong></p>
  </div>
  <div class="col-sm-6">
    <p>Submitted: <strong><%= @contact.created_at %></strong></p>
  </div>
</div>
<% if @contact.cama_contact_form && @contact.cama_contact_form.parent %>
  <h5>Form Contents</h5>
  <% @contact.cama_contact_form.parent.fields.each do |f| %>
    <% unless f[:field_type] == 'submit' %>
      <p><%= f[:label] %> - <%= @contact.cama_contact_form.the_settings[:fields][f[:cid]] %></p>
    <% end %>
  <% end %>
<% end %>