<input type="hidden" name="task[notes_attributes][][created_by]" value="<%= current_user.id %>">

<div class="form-group">
  <label>Outcome / Notes</label>
  <textarea  name="task[notes_attributes][][details]" class="form-control" rows="6"></textarea>
</div>
