<form class="quickview-block form-type-combine">
  <a class="btn btn-block btn-multiline btn-info" href="#"><i class="fa fa-phone fs-20"></i><br>Call (555) 555-5555</a>
  <br/>
  <div class="form-group">
    <label>Outcome / Notes</label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</form>
