<!-- QUICKVIEW - Edit step -->
<div id="qv_edit_step" class="quickview quickview-lg backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">Edit: <strong>Step title</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <form class="quickview-block form-type-combine">

      <div class="card-body">
        <div class="form-group">
          <label for="select">Type</label>
          <select class="form-control" id="step_type">
            <option>Phone call</option>
            <option>Email</option>
            <option>Text</option>
            <option>General</option>
          </select>
        </div>

        <h6 class="text-light fw-300">Timing</h6>
        <div class="no-border text-center">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-lg btn-info active" style="width: 100%;">
              <input class="hide-control" type="radio" name="timingOptions" id="option1" value="1" autocomplete="off" checked>Immediate</i>
            </label>
            <label class="btn btn-lg btn-info" style="width: 100%;">
              <input class="hide-control" type="radio" name="timingOptions" id="option2" value="2" autocomplete="off">Schedule</i>
            </label>
          </div>
        </div>

        <div id="timing_detail" class="form-groups-attached">

          <div class="row">
            <div class="form-group col-6">
              <label>After</label>
              <input class="form-control" type="text" placeholder="1">
            </div>

            <div class="form-group col-6">
              <label for="select">Time unit</label>
              <select class="form-control" id="step_time_unit">
                <option>minutes</option>
                <option>hours</option>
                <option>days</option>
              </select>
            </div>
          </div>

        </div>

        <br>
        <h6 class="text-light fw-300">Details</h6>
        <div class="form-groups-attached">

          <div class="form-group">
            <label>Title for reference</label>
            <input class="form-control" type="text">
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="6"></textarea>
          </div>

        </div>


      </div>

      <footer class="card-footer text-right">
        <button class="btn btn-secondary" type="reset">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
      </footer>
    </form>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button class="btn btn-danger" type="submit">Delete step</button>
  </footer>
</div>
