<% @task_recipe.ordered_directions.each do |direction| %>
  <li class="timeline-block">
    <div class="timeline-point">
      <span class="badge badge-ring badge-primary"></span>
    </div>
    <div class="timeline-content">
      <time datetime="2018"><%= direction.distance_of_time_from_now() %></time>
      <p><%= direction.task_type.humanize %></p>
      <%= direction.title %>
      <br/><%= direction.details %>
    </div>
  </li>
<% end %>
