<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Contact</h4>
    <a class="btn btn-success pull-right" href="">Save</a>
  </div>
  <div class="panel-body">
    <form method="post" action="create_contact">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group col-md-6">
            <label for="new_contact_first_name">Sales stage</label> <em class="text-danger">*</em><br>
            <select id="post_status" name="post[status]" class="form-control select">
              <option class="" value="published" selected="">Lead</option>
              <option value="pending">Prospect</option>
              <option value="draft">Customer</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group col-md-6">
            <label for="new_contact_first_name">First name</label> <em class="text-danger">*</em><br>
            <input class="form-control required sluged valid" type="text" name="new_contact[first_name]" id="new_contact_first_name" aria-required="true" aria-invalid="false">
          </div>
          <div class="form-group col-md-6">
            <label for="new_contact_first_name">Last name</label> <em class="text-danger">*</em><br>
            <input class="form-control required sluged valid" type="text" name="new_contact[first_name]" id="new_contact_first_name" aria-required="true" aria-invalid="false">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-12">
            <div class="form-group">
              <label for="new_contact_first_name">E-mail</label> <em class="text-danger">*</em><br>
              <input class="form-control required sluged valid" type="text" name="new_contact[first_name]" id="new_contact_first_name" aria-required="true" aria-invalid="false">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
