<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Contact</h4>
  </div>
  <div class="panel-body">
    <%= form_tag admin_plugins_flexx_plugin_crm_create_contact_path, method: :post do %>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group col-md-6">
            <label for="new_contact_sales_stage">Sales stage</label> <em class="text-danger">*</em><br>
            <select id="new_contact_sales_stage" name="new_contact[sales_stage]" class="form-control select">
              <option class="" value="lead" selected="">Lead</option>
              <option value="prospect">Prospect</option>
              <option value="customer">Customer</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group col-md-6">
            <label for="new_contact_first_name">First name</label> <em class="text-danger">*</em><br>
            <input class="form-control required sluged valid" type="text" name="new_contact[first_name]" id="new_contact_first_name" aria-required="true" aria-invalid="false">
          </div>
          <div class="form-group col-md-6">
            <label for="new_contact_last_name">Last name</label> <em class="text-danger">*</em><br>
            <input class="form-control required sluged valid" type="text" name="new_contact[last_name]" id="new_contact_last_name" aria-required="true" aria-invalid="false">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-12">
            <div class="form-group">
              <label for="new_contact_email">E-mail</label> <em class="text-danger">*</em><br>
              <input class="form-control required sluged valid" type="text" name="new_contact[email]" id="new_contact_email" aria-required="true" aria-invalid="false">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <input type="submit" class="btn btn-success pull-right" value="Save" />
        </div>
      </div>
    <% end %>
  </div>
</div>
