.panel.panel-default
  .panel-heading Flexx CRM Plugin Settings
  .panel-body
    %h3 Contact forms available
    %ul
      - @available_contact_forms.each do |cf|
        %li=cf["name"]
    %h3 Lists available (Sendgrid)
    %ul
      - @available_lists.each do |lst|
        %li
          %a{href: admin_plugins_flexx_plugin_crm_list_details_path(list_id: lst['id'])}="#{lst['name']} (# of recipients: #{lst["recipient_count"]})"
