<h5 class="card-title"><strong>Stock Tasks</strong></h5>
<div class="media-list media-list-divided media-list-hover" data-provide="selectable">
  <div class="media-list-body">

    <% current_site.stocks.unscoped.tasks.each do |st| %>
      <a class="media media-single" data-toggle="quickview" href="#qv_view_stock_task" data-url="<%= stock_card_admin_tasks_path(st.id) %>">
        <span class="title"><%= st.name %></span>
      </a>
    <% end %>

  </div>
</div>
