<%= form_tag admin_task_path(id: @task.id, format: :js), method: :patch, remote: true, authenticity_token: true do %>
  <%= render 'plugins/flexx_plugin_crm/tasks/owners' %>
  <div class="text-right">
    <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-bold btn-pure btn-primary" value="Save changes">
  </div>
<% end %>
