<div id="qv-new-rich-text" class="quickview quickview-xxl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New Message</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <div class="card-body">
      <div class="card form-type-combine">

        <div class="card-body">

          <h6 class="text-light fw-300">Details</h6>
          <div class="form-groups-attached">
            <div class="row">
              <div class="form-group col-6">
                <label>Type</label>
                <p class="form-control-plaintext">Rich Text</p>
              </div>

              <div class="form-group col-6 text-center pt-20">
                <label>Important? </label>
                <label class="toggler toggler-yellow fs-16" style="cursor:pointer;">
                  <input type="checkbox" checked>
                  <i class="fa fa-star"></i>
                </label>
              </div>
            </div>

            <div class="form-group require">
              <label>Message Name</label>
              <input class="form-control" type="text">
            </div>

            <div class="form-group">
              <label for="textarea">Description</label>
              <small>Optional</small>
              <textarea class="form-control" rows="3"></textarea>
            </div>

          </div>

          <br>
          <h6 class="text-light fw-300">Message Contents</h6>
          <div class="form-groups-attached">
            <div class="form-group">
              <label>Subject</label>
              <small>Optional</small>
              <input class="form-control" type="text">
            </div>

            <div>
              <textarea name="message" class="form-control editor" rows="10"></textarea>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button class="btn btn-success">Save</button>
    <button class="btn btn-default">Cancel</button>
  </footer>
</div>
