<% content_for :css do %>
  <%= stylesheet_link_tag 'plugins/flexx_plugin_crm/stocks', media: 'all' %>
<% end %>

<aside class="aside aside-lg aside-expand-md">
  <div class="aside-body">
  </div>
</aside>

<div class="main-content">
  <h2 class=""><strong>HTML Email</strong> Creator</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-shadowed">
        <header class="card-header">
          <h6 class="card-title card-title-bold">Edit your email</h6>
          <a class="btn btn-sm btn-flat btn-info" href="#">Preview</a>
        </header>
        <div class="card-body">
          <div class="is-container">
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var obj = $.contentbuilder({
            container: '.is-container',
            snippetData: '/email-blocks/snippetlist.html',
            rowFormat: '<div class="row"></div>',
            cellFormat: '<div class="col-md-12"></div>',
            customTags: [["First Name", "{%first_name%}"],
                ["Last Name", "{%last_name%}"],
                ["Email", "{%email%}"]],
            emailMode: true,
            absolutePath:true
        });
    });

</script>
