<div class="save-changes-bar header-bar header-inversed bg-pale-warning hidden" style="position: fixed; top: 64px;z-index: 10;">
  <button id="form-submit-<%= form_id %>" class="btn btn-bold btn-warning" type="submit">Save updates</button>
</div>