<div class="lookup-fullscreen" id="lookup-full" data-url="path/to/search.php">
  <span class="close" data-toggle="lookup" data-target="#lookup-full"><i class="ti-close"></i></span>

  <div class="lookup-form">
    <input type="text" placeholder="Search anything">
  </div>

  <div class="lookup-results">

  </div>
</div>