<aside class="sidebar sidebar-expand-lg sidebar-iconic sidebar-color-info">
  <header class="sidebar-header" style="background-color: #24ade3;">
    <span class="logo text-center">
      <%= link_to cama_admin_url do %>
        <img style="width: 100%; max-width: 120px;" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/flexx_final_wht-blk-dot.png" alt="logo">
      <% end %>
    </span>
  </header>

  <nav class="sidebar-navigation">

    <ul class="menu">

      <li class="menu-item">
        <a class="menu-link" href="/admin/next/dashboard">
          <span class="icon ti-home"></span>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <!--
      <li class="menu-item">
        <a class="menu-link" href="/admin/next/gyms">
          <span class="icon ti-agenda"></span>
          <span class="title">OPEX Gyms</span>
        </a>
      </li>
      -->

      <li class="menu-item">
        <a class="menu-link" href="/admin/next/tasks">
          <span class="icon ti-layout-list-thumb"></span>
          <span class="title">Tasks</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/next/contacts">
          <span class="icon ti-user"></span>
          <span class="title">Contacts</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/next/engage">
          <span class="icon ti-comments"></span>
          <span class="title">Engage</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/settings/theme">
          <span class="icon ti-layout"></span>
          <span class="title">Website</span>
        </a>
      </li>

      <!--
      <li class="menu-item">
        <a class="menu-link" href="/admin/next/media">
          <span class="icon ti-image"></span>
          <span class="title">Media</span>
        </a>
      </li>

      
      <li class="menu-item">
        <a class="menu-link" href="#">
          <span class="icon ti-calendar"></span>
          <span class="title">Calendar</span>
        </a>
      </li>
      -->

      <li class="menu-item">
        <a class="menu-link" href="/admin/next/settings">
          <span class="icon ti-settings"></span>
          <span class="title">Settings</span>
        </a>
      </li>

    </ul>
  </nav>

</aside>
