<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/base' %>
    <%= yield %>
  </body>
</html>
